* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.hijo1 {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  width: 300px;
  border: transparent;
  height: 65vh;
  text-align: center;
}

img {
  border-radius: 6px !important;
}

h3 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  text-align: center;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight:lighter;
}


/* Modo Responsive para celulares */
/*
@media (min-width: 375px) and (max-width: 650px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }
  
  body {
    background-color: hsl(212, 45%, 89%);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hijo1 {
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    width: 300px;
    border: transparent;
    height: 98vh;
    text-align: center;
  }
  
  img {
    border-radius: 6px !important;
  }

  h3 {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  p {
    text-align: center;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-weight: lighter;
    letter-spacing: -0.03em;
  }
}

/* Responsive para monitores de 1440px a 1600px */

/*
@media (min-width: 1440px) and (max-width: 1600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }
  
  body {
    background-color: hsl(212, 45%, 89%);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hijo1 {
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    width: 300px;
    border: transparent;
    height: 92vh;
    text-align: center;
  }
  
  img {
    border-radius: 6px !important;
  }

  h3 {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  
  p {
    text-align: center;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-weight: lighter;
    letter-spacing: -0.03em;
  }
}
*/